<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Treble Finder</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/talent">Find Talent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/edit-profile">Edit Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review">Leave A Review</a>
                </li>
            </ul>
            <ul class="nav">
                <li class="mr-3"><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>

    </nav>


    <form>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="userFirstName">Update First Name</label>
                <input type="firstname" class="form-control" id="inputFirstName" placeholder="First Name"
                    value="{{user.firstName}}">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label for="userLastName">Update Last Name</label>
                <input type="lastname" class="form-control" id="editLastName" placeholder="Last Name"
                    value="{{user.lastName}}">

            </div>
            <div class="form-group  col-sm-12 col-md-6 col-lg-6">
                <label for="userPassword">Change Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                    value="{{user.password}}">
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-sm-12 col-md-6 col-lg-6">
                <label for="userEmail">Update Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{user.email}}">
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label for="userPhone">Update Phone</label>
                <input type="phone" class="form-control" id="editPhone" placeholder="Phone" value="{{user.phone}}">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label for="updateAreas">Available Locations</label>
                {{#each user.Areas}}
                <input type="checkbox" id="area-{{this.id}}" checked> {{this.name}}<br>
                {{#each user.Areas}}
                <input type="checkbox" id="area-{{this.id}}"> {{this.nonarea}}<br>
                {{/each}}
                {{/each}}
            </div>

            <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label for="talentList">Update Your Talents</label>
                <select class="form-control" id="inputTalentList" placeholder="Drums, Guitar, Triangle, etc.">

                    {{#each user.Skills}}
                    <input type="checkbox" id="skill-{{this.id}}" checked> {{this.name}}<br>
                    {{#each user.Skills}}
                    <input type="checkbox" id="skill-{{user.id}}"> {{user.nonskill}}<br>
                    {{/each}}

                    {{/each}}

                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label for="genreList">Update Genres</label>
                <select class="form-control" id="inputGenreList">

                    {{#each user.Genres}}
                    <input type="checkbox" id="skill-{{this.id}}" checked> {{this.name}}<br>
                    {{#each user.Genres}}
                    <input type="checkbox" id="skill-{{user.id}}"> {{user.nongenre}}<br>
                    {{/each}}

                    {{/each}}

                </select>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label for="userBio">Update Bio</label>
                <textarea class="form-control" id="inputBio" placeholder="I have been performing for 3 years..."
                    rows="3">{{user.bio}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label for="userSound">Update SoundCloud</label>
                <input type="link" class="form-control" id="inputSound" value="{{user.soundLink}}"
                    placeholder="www.mysoundcloudlink.com">
            </div>
            <div class="col-sm-12">
                <button class="btn btn-primary " id="editProfileSubmit">Save Changes</button>
            </div>
        </div>
    </form>

</div>