<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Treble Finder</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find Talent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Leave A Review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Inbox</a>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
    </div>
</nav>


<div class="container">
    <form>
        <div class="form-row">
            <div class="form-group">
                <label for="exampleFormControlFile1">Upload Your Picture</label>
                <input type="file" class="form-control-file" id="pictureFile">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="userFirstName">Update First Name</label>
                <input type="firstname" class="form-control" id="inputFirstName" placeholder="First Name"
                    value="{{this.firstName}}">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="userLastName">Update Last Name</label>
                    <input type="lastname" class="form-control" id="editLastName" placeholder="Last Name"
                        value="{{this.lastName}}">

                </div>
                <div class="form-group">
                    <label for="userPassword">Change Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                        value="{{this.password}}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="userEmail">Update Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                            value="{{this.email}}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="userPhone">Update Phone</label>
                        <input type="phone" class="form-control" id="editPhone" placeholder="Phone"
                            value="{{this.phone}}">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="updateAreas">Available Locations</label>
                        {{#each areas}}
                        <input type="checkbox" id="area-{{this.id}}" checked> {{this.area}}<br>
                        {{#each nonareas}}
                        <input type="checkbox" id="area-{{this.id}}"> {{this.nonarea}}<br>
                        {{/each}}
                        {{/each}}
                    </div>

                    <div class="form-group">
                        <label for="talentList">Update Your Talents</label>
                        <select class="form-control" id="inputTalentList" placeholder="Drums, Guitar, Triangle, etc.">

                            {{#each skills}}
                            <input type="checkbox" id="skill-{{this.id}}" checked> {{this.skill}}<br>
                            {{#each nonskills}}
                            <input type="checkbox" id="skill-{{this.id}}"> {{this.nonskill}}<br>
                            {{/each}}

                            {{/each}}

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="genreList">Update Genres</label>
                        <select class="form-control" id="inputGenreList">

                            {{#each genres}}
                            <input type="checkbox" id="skill-{{this.id}}" checked> {{this.genre}}<br>
                            {{#each nongenres}}
                            <input type="checkbox" id="skill-{{this.id}}"> {{this.nongenre}}<br>
                            {{/each}}

                            {{/each}}

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="userBio">Update Bio</label>
                        <textarea class="form-control" id="inputBio" placeholder="I have been performing for 3 years..."
                            rows="3" value={{this.bio}}></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="userSound">Update SoundCloud</label>
                        <input type="link" class="form-control" id="inputSound" value="{{this.soundcloudLink}}"
                            placeholder="www.mysoundcloudlink.com">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="editProfileSubmit">Save Changes</button>
    </form>

</div>